<template>
   <div class="wrapper">
      <div class="icon1">
         <img src="../assets/images/head1.png" class="img1">
      </div>
      <div class="icon2">
         <img src="../assets/images/icon1.png" class="img2">
      </div>
      <!-- <button class="button1">
         <span>CUSTOMER SENTIMENT</span>
      </button> -->
      <!-- <a href="/index2"> -->
       <el-button class="button1" @click="button1">
         <span>CUSTOMER SENTIMENT</span>
      </el-button>
      <!-- </a> -->
      <!-- <a href="#"> -->
      <el-button class="button2" @click="button2">
         <span>PRICING DEVELOPMENT</span>
      </el-button>
      <!-- </a> -->
      <el-button class="button3">
         <span>SALES TRENDS</span>
      </el-button>
      
   </div>
</template>
<script>
export default {
   methods:{
      button1(){
         this.$router.push({path:'/index2'})
      },
      button2(){
         this.$router.push({path:'/pricingSelect'})
      }
   }
}
</script>
<style lang="less" scoped>
   .wrapper{
      background-color:rgb(255, 255, 255);
      height: 100%;
   }
   .img1{
      width:500px;
   }
   .img2{
      width: 200px;
   }
   .icon1{
      position: absolute;
      top: 10px;
      left: 10px;
   }
   .icon2{
      position: absolute;
      top: 10px;
      right: 30px;
   }
   .button1{
      position: absolute;
      top: 110px;
      left: 100px;
      height: 300px;
      width: 600px;
      cursor: pointer;
      border-color: rgb(255, 255, 255);
      border:solid 1px rgb(2, 40, 120);
   }
   .button2{
      position: absolute;
      top: 110px;
      right: 100px;
      height: 300px;
      width: 600px;
      cursor: pointer;
      border-color: rgb(255, 255, 255);
      border:solid 1px rgb(2, 40, 120);
   }
   span{
      color:rgb(2, 40, 120);
      font-size: 20px;
   }
   .button3{
      position: absolute;
      top: 450px;
      left: 90px;
      height: 100px;
      width: 1245px;
      cursor: pointer;
      border:solid 1px rgb(2, 40, 120);
   }
</style>