<template>
   <div class="wrapper">
      <el-button class="button1" @click="button1">
         <span>PRODUCT</span>
         <span>EVALUATION</span>
      </el-button>
      <el-button class="button2" @click="button2">
         <span>RETAIL</span>
         <span>EXPERIENCE</span>
      </el-button>
     
       <el-button class="button3" @click="button3">
         <span>BRAND</span>
         <span>PERCEPTION</span>
      </el-button>
   </div>
</template>
<script>
export default {
   methods:{
      button1(){
         this.$router.push({path:'/index3'})
      },
      button2(){
         this.$router.push({path:'/dealertiyan'})
      },
      button3(){
         this.$router.push({path:'/selectBrandShowweibo'})
      }
   }
}
</script>
<style lang="less" scoped>
   .wrapper{
      background-color:rgb(255, 255, 255);
      height: 100%;
   }
  .el-button{
     position: absolute;
     height: 400px;
     width: 300px;
     border: 1px solid rgb(2, 40, 120);
  }
  span{
      color:rgb(2, 40, 120);
      font-size: 20px;
      display: block;
      margin-top: 8px;
   }
   .button1{
      position: absolute;
      top: 150px;
      left: 200px;
   }
   .button2{
      top: 150px;
      left: 565px;
   }
   .button3{
      top: 150px;
      right: 200px;
   }
</style>