<template>
   <div class="wrapper">
    <div class="select">
       <el-button plain class="button1" :style="button1class" @click="button1">
          <!-- <span class="span1" v-show="select1==''">SELECT BRAND</span> -->
          <!-- <span class="sp" v-show="select1!=''">SELECT BRAND</span> -->
           <span class="sp">SELECT BRAND</span>
      </el-button>
 
      <span class="span2">PORTFOLIO</span>

      <el-button plain class="button3" @click="button3" :style="button2class1">
         <!-- <span class="span3" v-show="!(select1!='' && show33)">COMPARE</span>
         <span class="span3" v-show="!(select1!='' && show33)">PORTFOLIO</span>

         <span class="span33" v-show="select1!='' && show33">COMPARE</span>
         <span class="span33" v-show="select1!='' && show33">PORTFOLIO</span> -->
          <span class="span33">COMPARE</span>
         <span class="span33">PORTFOLIO</span>
      </el-button>

      <el-button plain class="button4" @click="button4" :style="button2class2">
         <!-- <span class="span4" v-show="!(select2!='' && show3)">COMPARE</span>
         <span class="span4" v-show="!(select2!='' && show3)">BY MODEL</span>

         <span class="sp1" v-show="select2!='' && show3">COMPARE</span>
         <span class="sp1" v-show="select2!='' && show3">BY MODEL</span> -->

         <span class="sp1">COMPARE</span>
         <span class="sp1">BY MODEL</span>
      </el-button>

      <span class="span5">COMPETITION</span>
       <el-button plain class="button6" :style="button3class1" @click="button8"> 
         <!-- <span class="span6">AUTO-SELECT</span>
         <span class="span6">COMPETITORS</span> -->
         <span class="sp1">AUTO-SELECT</span>
         <span class="sp1">COMPETITORS</span>
      </el-button>
      <el-button plain class="button7" @click="button7" :style="button3class2">
         <!-- <span class="span7" v-show="!(select3!='' && show3)">SELECT</span>
         <span class="span7" v-show="!(select3!='' && show3)">COMPETITORS</span>

         <span class="sp1" v-show="select3!='' && show3">SELECT</span>
         <span class="sp1" v-show="select3!='' && show3">COMPETITORS</span> -->
          <span class="sp1">SELECT</span>
         <span class="sp1">COMPETITORS</span>
      </el-button>
    </div>

    <div class="show1" v-show="show1">
      <el-checkbox-group v-model="select1" :max="1"> 
        <el-checkbox label="奔驰"><img class="img" src="../assets/images/benchi.png"></el-checkbox>
        <el-checkbox label="宝马"><img class="img" src="../assets/images/baoma.png"></el-checkbox>
        <el-checkbox label="奥迪"><img class="img" src="../assets/images/aodi.png"></el-checkbox>
        <el-checkbox label="凯迪拉克"><img class="img" src="../assets/images/kaidilake.png"></el-checkbox>
        <el-checkbox label="路虎"><img class="img" src="../assets/images/luhu.png"></el-checkbox>
        <el-checkbox label="上汽大众"><img class="img" src="../assets/images/shangqi.png"></el-checkbox>
        <el-checkbox label="一汽大众"><img class="img" src="../assets/images/yiqi.png"></el-checkbox>
        <el-checkbox label="蔚来"><img class="img" src="../assets/images/nio.png"></el-checkbox>
        <el-checkbox label="威马"><img class="img" src="../assets/images/weima.png"></el-checkbox>
        <el-checkbox label="小鹏"><img class="img" src="../assets/images/xiaopeng.png"></el-checkbox>
        <el-checkbox label="理想"><img class="img" src="../assets/images/lixiang.png"></el-checkbox>
        <el-checkbox label="比亚迪"><img class="img" src="../assets/images/byd.png"></el-checkbox>

        <el-checkbox label="保时捷"><img class="img" src="../assets/images/baoshijie.png"></el-checkbox>
        <el-checkbox label="宾利"><img class="img" src="../assets/images/binli.png"></el-checkbox>
        <el-checkbox label="阿斯顿马丁"><img class="img" src="../assets/images/martin.png"></el-checkbox>
        <el-checkbox label="兰博基尼"><img class="img" src="../assets/images/lanbojini.png"></el-checkbox>
        <el-checkbox label="迈凯伦"><img class="img" src="../assets/images/mkl.png"></el-checkbox>
        <el-checkbox label="劳斯莱斯"><img class="img" src="../assets/images/RR.png"></el-checkbox>
        <el-checkbox label="法拉利"><img class="img" src="../assets/images/falali.png"></el-checkbox>

        <el-checkbox label="斯科达"><img class="img" src="../assets/images/sikeda.png"></el-checkbox>
        <el-checkbox label="东风标致"><img class="img" src="../assets/images/biaozhi.png"></el-checkbox>
        <el-checkbox label="东风雪铁龙"><img class="img" src="../assets/images/xuetielong.png"></el-checkbox>
    </el-checkbox-group>
    </div>

    <div class="show2" v-show="show2">
       <el-checkbox-group v-model="select2" :max="1"> 
        <el-checkbox :label="item.brand" v-for="(item,i) in carmodel" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
    </el-checkbox-group>
    </div>

   

    <div class="show3" v-show="show33">
       <el-checkbox-group v-model="select3" :max="2"> 
        <el-checkbox label="奔驰"  v-show="select1!='奔驰'"><img class="img" src="../assets/images/benchi.png"></el-checkbox>
        <el-checkbox label="宝马"  v-show="select1!='宝马'"><img class="img" src="../assets/images/baoma.png"></el-checkbox>
        <el-checkbox label="奥迪"  v-show="select1!='奥迪'"><img class="img" src="../assets/images/aodi.png"></el-checkbox>
        <el-checkbox label="凯迪拉克"  v-show="select1!='凯迪拉克'"><img class="img" src="../assets/images/kaidilake.png"></el-checkbox>
        <el-checkbox label="路虎" v-show="select1!='路虎'"><img class="img" src="../assets/images/luhu.png"></el-checkbox>
        <el-checkbox label="上汽大众" v-show="select1!='上汽大众'"><img class="img" src="../assets/images/shangqi.png"></el-checkbox>
        <el-checkbox label="一汽大众" v-show="select1!='一汽大众'"><img class="img" src="../assets/images/yiqi.png"></el-checkbox>
        <el-checkbox label="蔚来" v-show="select1!='蔚来'"><img class="img" src="../assets/images/nio.png"></el-checkbox>
        <el-checkbox label="威马" v-show="select1!='威马'"><img class="img" src="../assets/images/weima.png"></el-checkbox>
        <el-checkbox label="小鹏" v-show="select1!='小鹏'"><img class="img" src="../assets/images/xiaopeng.png"></el-checkbox>
        <el-checkbox label="理想" v-show="select1!='理想'"><img class="img" src="../assets/images/lixiang.png"></el-checkbox>
        <el-checkbox label="比亚迪" v-show="select1!='比亚迪'"><img class="img" src="../assets/images/byd.png"></el-checkbox>

        <el-checkbox label="保时捷" v-show="select1!='保时捷'"><img class="img" src="../assets/images/baoshijie.png"></el-checkbox>
        <el-checkbox label="宾利" v-show="select1!='宾利'"><img class="img" src="../assets/images/binli.png"></el-checkbox>
        <el-checkbox label="阿斯顿马丁" v-show="select1!='阿斯顿马丁'"><img class="img" src="../assets/images/martin.png"></el-checkbox>
        <el-checkbox label="兰博基尼" v-show="select1!='兰博基尼'"><img class="img" src="../assets/images/lanbojini.png"></el-checkbox>
        <el-checkbox label="迈凯伦" v-show="select1!='迈凯伦'"><img class="img" src="../assets/images/mkl.png"></el-checkbox>
        <el-checkbox label="劳斯莱斯" v-show="select1!='劳斯莱斯'"><img class="img" src="../assets/images/RR.png"></el-checkbox>
        <el-checkbox label="法拉利" v-show="select1!='法拉利'"><img class="img" src="../assets/images/falali.png"></el-checkbox>

        <el-checkbox label="斯科达" v-show="select1!='斯科达'"><img class="img" src="../assets/images/sikeda.png"></el-checkbox>
        <el-checkbox label="东风标致" v-show="select1!='东风标致'"><img class="img" src="../assets/images/biaozhi.png"></el-checkbox>
        <el-checkbox label="东风雪铁龙" v-show="select1!='东风雪铁龙'"><img class="img" src="../assets/images/xuetielong.png"></el-checkbox>
    </el-checkbox-group>
    </div>

    <div class="show3" v-show="show31">
       <el-checkbox-group v-model="select3" :max="2"> 
        <el-checkbox :label="item.brand" v-for="(item,i) in select31data" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
    </el-checkbox-group>
    </div>

     <div class="show3" v-show="show2131">
       <el-checkbox-group v-model="select3" :max="2"> 
        <el-checkbox label="奔驰"  v-show="select1!='奔驰'"><img class="img" src="../assets/images/benchi.png"></el-checkbox>
        <el-checkbox label="宝马"  v-show="select1!='宝马'"><img class="img" src="../assets/images/baoma.png"></el-checkbox>
        <el-checkbox label="奥迪"  v-show="select1!='奥迪'"><img class="img" src="../assets/images/aodi.png"></el-checkbox>
        <el-checkbox label="凯迪拉克"  v-show="select1!='凯迪拉克'"><img class="img" src="../assets/images/kaidilake.png"></el-checkbox>
        <el-checkbox label="路虎" v-show="select1!='路虎'"><img class="img" src="../assets/images/luhu.png"></el-checkbox>
        <el-checkbox label="上汽大众" v-show="select1!='上汽大众'"><img class="img" src="../assets/images/shangqi.png"></el-checkbox>
        <el-checkbox label="一汽大众" v-show="select1!='一汽大众'"><img class="img" src="../assets/images/yiqi.png"></el-checkbox>
        <el-checkbox label="蔚来" v-show="select1!='蔚来'"><img class="img" src="../assets/images/nio.png"></el-checkbox>
        <el-checkbox label="威马" v-show="select1!='威马'"><img class="img" src="../assets/images/weima.png"></el-checkbox>
        <el-checkbox label="小鹏" v-show="select1!='小鹏 '"><img class="img" src="../assets/images/xiaopeng.png"></el-checkbox>
        <el-checkbox label="理想" v-show="select1!='理想'"><img class="img" src="../assets/images/lixiang.png"></el-checkbox>
        <el-checkbox label="比亚迪" v-show="select1!='比亚迪'"><img class="img" src="../assets/images/byd.png"></el-checkbox>

        <el-checkbox label="保时捷" v-show="select1!='保时捷'"><img class="img" src="../assets/images/baoshijie.png"></el-checkbox>
        <el-checkbox label="宾利" v-show="select1!='宾利'"><img class="img" src="../assets/images/binli.png"></el-checkbox>
        <el-checkbox label="阿斯顿马丁" v-show="select1!='阿斯顿马丁'"><img class="img" src="../assets/images/martin.png"></el-checkbox>
        <el-checkbox label="兰博基尼" v-show="select1!='兰博基尼'"><img class="img" src="../assets/images/lanbojini.png"></el-checkbox>
        <el-checkbox label="迈凯伦" v-show="select1!='迈凯伦'"><img class="img" src="../assets/images/mkl.png"></el-checkbox>
        <el-checkbox label="劳斯莱斯" v-show="select1!='劳斯莱斯'"><img class="img" src="../assets/images/RR.png"></el-checkbox>
        <el-checkbox label="法拉利" v-show="select1!='法拉利'"><img class="img" src="../assets/images/falali.png"></el-checkbox>
        <el-checkbox label="斯科达" v-show="select1!='斯科达'"><img class="img" src="../assets/images/sikeda.png"></el-checkbox>
        <el-checkbox label="东风标致" v-show="select1!='东风标致'"><img class="img" src="../assets/images/biaozhi.png"></el-checkbox>
        <el-checkbox label="东风雪铁龙" v-show="select1!='东风雪铁龙'"><img class="img" src="../assets/images/xuetielong.png"></el-checkbox>
    </el-checkbox-group>
    </div>

    <div class="show3" v-show="show3">
       <el-checkbox-group v-model="select3" :max="4"> 
        <el-checkbox label="奔驰" disabled="" v-show="select1!='奔驰'"><img class="img" src="../assets/images/benchi.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='奔驰'" v-for="(item,i) in benchi" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="宝马" disabled="" v-show="select1!='宝马'"><img class="img" src="../assets/images/baoma.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='宝马'" v-for="(item,i) in baoma" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="奥迪" disabled="" v-show="select1!='奥迪'"><img class="img" src="../assets/images/aodi.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='奥迪'" v-for="(item,i) in aodi" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="凯迪拉克" disabled="" v-show="select1!='凯迪拉克'"><img class="img" src="../assets/images/kaidilake.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='凯迪拉克'" v-for="(item,i) in kaidilake" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>

        <el-checkbox label="路虎" disabled="" v-show="select1!='路虎'"><img class="img" src="../assets/images/luhu.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='路虎'" v-for="(item,i) in luhu" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="上汽大众" disabled="" v-show="select1!='上汽大众'"><img class="img" src="../assets/images/shangqi.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='上汽大众'" v-for="(item,i) in shangqi" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="一汽大众" disabled="" v-show="select1!='一汽大众'"><img class="img" src="../assets/images/yiqi.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='一汽大众'" v-for="(item,i) in yiqi" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="蔚来" disabled="" v-show="select1!='蔚来'"><img class="img" src="../assets/images/nio.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='蔚来'" v-for="(item,i) in nio" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="威马" disabled="" v-show="select1!='威马'"><img class="img" src="../assets/images/weima.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='威马'" v-for="(item,i) in weima" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="小鹏" disabled="" v-show="select1!='小鹏'"><img class="img" src="../assets/images/xiaopeng.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='小鹏'" v-for="(item,i) in xiaopeng" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="理想" disabled="" v-show="select1!='理想'"><img class="img" src="../assets/images/lixiang.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='理想'" v-for="(item,i) in lixiang" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="比亚迪" disabled="" v-show="select1!='比亚迪'"><img class="img" src="../assets/images/byd.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='比亚迪'" v-for="(item,i) in byd" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>

        <el-checkbox label="保时捷" disabled="" v-show="select1!='保时捷'"><img class="img" src="../assets/images/baoshijie.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='保时捷'" v-for="(item,i) in baoshijie" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="宾利" disabled="" v-show="select1!='宾利'"><img class="img" src="../assets/images/binli.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='宾利'" v-for="(item,i) in binli " :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="阿斯顿马丁" disabled="" v-show="select1!='阿斯顿马丁'"><img class="img" src="../assets/images/martin.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='阿斯顿马丁'" v-for="(item,i) in martin" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="兰博基尼" disabled="" v-show="select1!='兰博基尼'"><img class="img" src="../assets/images/lanbojini.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='兰博基尼'" v-for="(item,i) in lanbojini" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="迈凯伦" disabled="" v-show="select1!='迈凯伦'"><img class="img" src="../assets/images/mkl.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='迈凯伦'" v-for="(item,i) in mkl" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="劳斯莱斯" disabled="" v-show="select1!='劳斯莱斯'"><img class="img" src="../assets/images/RR.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='劳斯莱斯'" v-for="(item,i) in rr" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="法拉利" disabled="" v-show="select1!='法拉利'"><img class="img" src="../assets/images/falali.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='法拉利'" v-for="(item,i) in falali" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>

        <el-checkbox label="斯科达" disabled="" v-show="select1!='斯科达'"><img class="img" src="../assets/images/sikeda.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='斯科达'" v-for="(item,i) in sikeda" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>

        <el-checkbox label="东风标致" disabled="" v-show="select1!='东风标致'"><img class="img" src="../assets/images/biaozhi.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='东风标致'" v-for="(item,i) in biaozhi" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
        <el-checkbox label="东风雪铁龙" disabled="" v-show="select1!='东风雪铁龙'"><img class="img" src="../assets/images/xuetielong.png"></el-checkbox>
        <el-checkbox :label="item.brand" v-show="select1!='东风雪铁龙'" v-for="(item,i) in xuetielong" :key="i"><span class="select1span">{{item.carseries}}</span></el-checkbox>
    </el-checkbox-group>
    </div>
    <el-button class="show" @click="btn">
      <span class="span9">SHOW RESULTS</span>
    </el-button>
   </div>
</template>
<script>
export default {
   data(){
      return{
         select1:[],
         select2:[],
         select3:[],

         button1class:'',
         button2class1:'',
         button2class2:'',
         button3class1:'',
         button3class2:'',

         select22:[],
         select33:[],
         show1:true,
         show2:false,
         show22:false,
         show3:false,
         show33:false,
         show31:false,
         show2131:false,
         brand:[],
         select31data:[],
         select2131data:[],
         carmodel:[
            {
               id:1,
               brand:'奥迪',
               model:'奥迪A4L  2020款 35 TFSI 时尚动感型'
            },
            {
               id:2,
               brand:'奥迪',
               model:'奥迪A4L  2020款 40 TFSI 时尚动感型'
            },
            {
               id:3,
               brand:'奥迪',
               model:'奥迪A4L  2020款 40 TFSI 时尚致雅型'
            },
             
             {
               id:4,
               brand:'奥迪',
               model:'奥迪A4L  2020款 40 TFSI 豪华动感型'
            },
            {
               id:5,
               brand:'奥迪',
               model:'宝马'
            },
            {
               id:6,
               brand:'奥迪',
               model:'奥迪A4L  2020款 40 发发放松房贷首付方法撒发撒'
            }
         ],
         benchi:[],
         baoma:[],
         aodi:[],
         kaidilake:[],
         luhu:[],
         shangqi:[],
         yiqi:[],
         nio:[],
         weima:[],
         xiaopeng:[],
         lixiang:[],
         byd:[],
         baoshijie:[],
         binli:[],
         martin:[],
         lanbojini:[],
         mkl:[],
         rr:[],
         falali:[],
         sikeda:[],
         biaozhi:[],
         xuetielong:[],
      }
   },
   watch:{
      select1(newvalue,old){
         if(this.select1!=''){
            this.button1class = 'background-color:rgb(51,136,255)'
         }
         if(this.select1==''){
            this.button1class = 'background-color:rgb(255,255,255)'
         }
      },
      show22(newvalue,old){
         if(this.show22==true){
            this.button2class1 = 'background-color:rgb(51,136,255)'
            this.button2class2 = 'background-color:rgb(255,255,255)'
         }
         if(this.show22==false){
            this.button2class1 = 'background-color:rgb(255,255,255)'
         }
         
      },
      select2(newvalue,old){
         if(this.show22==false && this.select2!=''){
            this.button2class2 = 'background-color:rgb(51,136,255)'
         }
         if(this.show22==false && this.select2 ==''){
            this.button2class2 = 'background-color:rgb(255,255,255)'
         }
      },
      show31(newvalue,old){
         if(this.show31==true){
            this.button3class1 = 'background-color:rgb(51,136,255)'
            this.button3class2 = 'background-color:rgb(255,255,255)'
         }
         if(this.show31==false){
            this.button3class1 = 'background-color:rgb(255,255,255)'
            this.button3class2 = 'background-color:rgb(255,255,255)'
         }
      },
      // show2131(newvalue,old){
      //    if(this.show2131==true){
      //       this.button3class1 = 'background-color:rgb(51,136,255)'
      //       this.button3class2 = 'background-color:rgb(255,255,255)'
      //    }
      //    if(this.show2131==false){
      //       this.button3class1 = 'background-color:rgb(255,255,255)'
      //    }
      // },
      select3(newvalue,old){
         if(this.select3!='' && this.show3 == true){
            this.button3class1 = 'background-color:rgb(255,255,255)'
            this.button3class2 = 'background-color:rgb(51,136,255)'
         }
         if(this.select3!='' && this.show33 == true){
            this.button3class1 = 'background-color:rgb(255,255,255)'
            this.button3class2 = 'background-color:rgb(51,136,255)'
         }
         if(this.select3!='' && this.show2131 == true){
            this.button3class1 = 'background-color:rgb(51,136,255)'
            this.button3class2 = 'background-color:rgb(255,255,255)'
         }
         if(this.select3==''){
            this.button3class1 = 'background-color:rgb(255,255,255)'
            this.button3class2 = 'background-color:rgb(255,255,255)'
         }
      },
      // select3(newvalue,old){
      //    if(this.select3!=''){
      //       alert("111")
      //       this.button3class2 = 'background-color:rgb(51,136,255)'
      //       this.button3class1 = 'background-color:rgb(255,255,255)'
      //    }
      //    if(this.select3!=''){
      //       alert("222")
      //       this.button3class2 = 'background-color:rgb(255,255,255)'
      //       this.button3class1 = 'background-color:rgb(51,136,255)'
      //    }
      //    if(this.select3==''){
      //       ("333")
      //        this.button3class2 = 'background-color:rgb(255,255,255)'
      //       this.button3class1 = 'background-color:rgb(255,255,255)'
      //    }
      // }

   },
   methods:{
      button1(){
         this.show1 = true;
         this.show2 = false;
         this.show3 = false;
         this.show33 = false;
         this.show31 = false;
         this.show2131 = false;
         this.select2 = []
         htis.select3 = []
      },
      button3(){
         if(this.show22 == true){
            this.show1 = false;
            this.show2 = true;
            this.show22 = false;
            this.show3 = false;
            this.show33 = false;
            this.show31 = false;
            this.show2131 = false;
         }
         if(this.show22==false){
            this.show1 = true;
            this.show2 = false;
            this.show22 = true;
            this.show3 = false;
            this.show33 = false;
            this.show31 = false;
            this.show2131 = false;

            this.select2 = []
            this.select3 = []
         }
      },
      button4(){
         this.show1 = false;
         this.show2 = true;
         this.show22 = false;
         this.show3 = false;
         this.show33 = false;
         this.show31 = false;
         this.show2131 = false;
         this.select3 = []

         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:this.select1[0],
            }
         }).then(resp=>{
            this.carmodel = resp.data
            this.select2 = []
         }).catch(error=>{
            // alert("查询失败");
         })
         
      },
      button7(){
         if(this.show2 == true){
            this.show1 = false;
            this.show2 = false;
            this.show22 =false;
            this.show3 = true;
            this.show33 = false;
            this.show31 = false;
            this.show2131 = false;
            this.select3 = []
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"奔驰"
            }
         }).then(resp=>{
           this.benchi = resp.data
         });
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"宝马"
            }
         }).then(resp=>{
           this.baoma = resp.data
         });
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"奥迪"
            }
         }).then(resp=>{
           this.aodi = resp.data
         });
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"凯迪拉克"
            }
         }).then(resp=>{
           this.kaidilake = resp.data
         })

         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"路虎"
            }
         }).then(resp=>{
           this.luhu = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"上汽大众"
            }
         }).then(resp=>{
           this.shangqi = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"一汽大众"
            }
         }).then(resp=>{
           this.yiqi = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"蔚来"
            }
         }).then(resp=>{
           this.nio = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"威马"
            }
         }).then(resp=>{
           this.weima = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"小鹏"
            }
         }).then(resp=>{
           this.xiaopeng = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"理想"
            }
         }).then(resp=>{
           this.lixiang = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"比亚迪"
            }
         }).then(resp=>{
           this.byd = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"保时捷"
            }
         }).then(resp=>{
           this.baoshijie = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"宾利"
            }
         }).then(resp=>{
           this.binli = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"阿斯顿马丁"
            }
         }).then(resp=>{
           this.martin = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"兰博基尼"
            }
         }).then(resp=>{
           this.lanbojini = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"迈凯伦"
            }
         }).then(resp=>{
           this.mkl = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"劳斯莱斯"
            }
         }).then(resp=>{
           this.rr = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"法拉利"
            }
         }).then(resp=>{
           this.falali = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"斯科达"
            }
         }).then(resp=>{
           this.sikeda = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"东风标致"
            }
         }).then(resp=>{
           this.biaozhi = resp.data
         })
         this.axios({
            url:'/api/koubei/queryAll',
            methods:'POST',
            params:{
               brand:"东风雪铁龙"
            }
         }).then(resp=>{
           this.xuetielong = resp.data
         })
         }
         if(this.show22 == true){
            this.show1 = false;
            this.show2 = false;
            // this.show22 = false;
            this.show3 = false;
            this.show2131 = false;
            this.show33 = true;
            this.select3 = []
         }
      },
      button8(){
         if(this.show22==true){
            this.show1 = false;
            this.show2 = false;
            // this.show22 = false;
            this.show3 = false;
            this.show33 = false;
            this.show31 = false;
            this.show2131 = true;
            this.axios({
               url:'/api/koubei/autoSelectByBrand',
               methods:'POST',
               params:{brand:this.select1[0]}
               // params:{brand:'奔驰'}
            }).then(resp=>{
               this.select3 = [];
               this.select31data = [];
               for (let index = 0; index < resp.data.length; index++) {
                  if(resp.data[index].brand!=this.select2[0]){
                     this.select3.push(resp.data[index].brand)
                     this.select2131data.push(resp.data[index])
                  }
               }
            })
         }

         if(this.show22==false){
            this.show1 = false;
            this.show2 = false;
            this.show22 = false;
            this.show3 = false;
            this.show33 = false;
            this.show31 = true;
            this.show2131 = false;
            this.axios({
               url:'/api/koubei/autoSelectByModel',
               methods:'POST',
               params:{carseries:this.select2[0]}
            }).then(resp=>{
               this.select3 = [];
               this.select31data = [];
               for (let index = 0; index < resp.data.length; index++) {
                  if(resp.data[index].brand!=this.select2[0]){
                     console.log(resp.data[index].brand)
                     console.log(this.select2[0])
                     this.select3.push(resp.data[index].brand)
                     this.select31data.push(resp.data[index])
                  }
               }
            })
         }
      },
      btn(){
         
         if(this.show3 ==true){
            if(this.select1.length != 1){
            alert("Please select brand")
         }else if(this.select2.length !=1){
            alert("Please select compare by model")
         }else if(this.select3.length == 0){
            alert("Please select competitors")
         }else{
             this.$router.push({path:'/index4',query:{select1:this.select1,select2:this.select2,select3:this.select3}})
            }
         }
         if(this.show33 == true){
            this.$router.push({path:'/index5',query:{select1:this.select1,select2:this.select1,select3:this.select3}})
         }
         if(this.show31 == true){
            this.$router.push({path:'/index4',query:{select1:this.select1,select2:this.select2,select3:this.select3}})
         }
         if(this.show2131 == true){
            this.$router.push({path:'/index5',query:{select1:this.select1,select2:this.select1,select3:this.select3}})
         }
       }
   }
}
</script>
<style lang="less" scoped>
   .wrapper{
      background-color:rgb(255, 255, 255);
      height: 100%;
   }
   .select{
      position: absolute;
      border: 1px solid rgb(2,40,120);
      top: 200px;
      left: 280px;
      width: 300px;
      height: 300px;
   }
   .show1{
      position: absolute;
      top: 200px;
      left: 600px;
      width: 515px;
      height: 400px;
      border: 1px solid rgb(2,40,120);
   }
   .show2{
      position: absolute;
      top: 200px;
      left: 600px;
      width: 515px;
      height: 400px;
      border: 1px solid rgb(2,40,120);
   }
   .show3{
      position: absolute;
      top: 200px;
      left: 600px;
      width: 515px;
      height: 400px;
      border: 1px solid rgb(2,40,120);
   }
   .button1{
      position: absolute;
      top: 16px;
      left: 16px;
      width: 269px;
      height: 40px;
      border:solid 1px rgb(2,40,120);
      border-radius: 0px;
   }
   .span1{
      color: grey;
   }
   .sp{
      color: rgb(2, 40, 120);
   }
   .span2{
      position: absolute;
      color: rgbw(2,40,120);
      top: 80px;
      left: 16px;
      font-size: 20px;
   }
   .button3{
      position: absolute;
      top: 110px;
      left: 16px;
      width: 125px;
      height: 50px;
      border: solid 1px rgb(2,40,120);
      border-radius: 0px;
   }
   .span3{
      font-size: 12px;
      display: block;
   }
   .span33{
      font-size: 12px;
      display: block;
      color: rgb(2, 40, 120);
   }
   .sp1{
      font-size: 12px;
      display: block;
      color: rgb(2, 40, 120);
   }
   .button4{
      position: absolute;
      top: 110px;
      right: 16px;
      width: 125px;
      height: 50px;
      border: solid 1px rgb(2,40,120);
      border-radius: 0px;
   }
   .span4{
      font-size: 12px;
      display: block;
   }
   .span5{
      position: absolute;
      color: rgb(2,40,120);
      top: 180px;
      left: 16px;
      font-size: 20px;
   }
   .button6{
      position: absolute;
      top: 210px;
      left: 16px;
      width: 125px;
      height: 50px;
      border: solid 1px rgb(2,40,120);
      border-radius: 0px;
   }
   .span6{
      font-size: 12px;
      display: block;
   }
   .button7{
      position: absolute;
      top: 210px;
      right: 16px;
      width: 125px;
      height: 50px;
      border: solid 1px rgb(2,40,120);
      border-radius: 0px;
   }
   .span7{
      font-size: 12px;
      display: block;
   }

   .show{
      position: absolute;
      top: 510px;
      left: 280px;
      height: 92px;
      width: 300px;
      font-size: 20px;
      color: rgb(2, 40, 120);
      border: 1px solid rgb(2, 40, 120);
      border-radius: 0px;
   }

.el-checkbox-group{
  overflow: scroll;
//   width:500px;
   width:35vw;
  height: 400px;
}
.el-checkbox{
  margin-right: 0px;
  margin-top: 16px;
  margin-left: 1px;
}
/deep/.el-checkbox__input{
  visibility: hidden;
  float: left;
  left: 50px;
}
/deep/.el-checkbox__label{
  width:146px;
  height: 91px;
  // background-color: red;
  color: #606266;
  font-size: 20px;
  white-space: normal;
  padding-left: 0px;
  border: 1px solid  rgb(2,40,120);
  text-align: center;
  padding-top: 55px;
}
/deep/.is-checked{
  :last-child{
    background-color: #409EFF;
  }
}
/deep/.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #ffffff;
}
.img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 26px;
  left: 41px;
}
.select1span{
  float: left;
  width: 146px;
  height: 91px;
}
/deep/.el-checkbox__label{
   line-height:28px;
}

</style>