<template>
   <div class="login_container">
      <div class="icon1">
         <img src="../assets/images/icon1.png" class="img1">
      </div>
      <div class="icon2">
         <img src="../assets/images/icon2.png" class="img2">
      </div>
      <div class="login">
         <div class="email">
            <div class="email_one">E-Mail</div>
            <div class="email_two">
               <el-input v-model="username"></el-input>
            </div>
         </div>
         <div class="password">
            <div class="email_one">password</div>
            <div class="email_two">
               <el-input v-model="password" type="password"></el-input>
            </div>
         </div>
      </div>
      <el-button @click="login">
         <span>Enter</span>
      </el-button>
   </div>
</template>
<script>
export default {
   data(){
      return{
         username:'',
         password:'',
      }
   },
   methods:{
      login(){
         this.axios({
            url:'/api/user/userLogin',
            methods:'POST',
            params:{
               username:this.username,
               password:this.password,
            }
         }).then(resp=>{
            this.$router.push({path:'/index1'})
         }).catch(error=>{
            alert("账号或密码错误，请重新登陆")
            this.username = '';
            this.password = '';
         })
      }
   }
}
</script>
<style lang="less" scoped>
   .login_container{
      background-color:rgb(255, 255, 255);
      height: 100%;
   }
   .img1{
      width:200px;
   }
   .img2{
      width:1000px;
   }
   .icon1{
      position: absolute;
      top: 10px;
      right: 30px;
   }
   .icon2{
      position: absolute;
      top: 250px;
      left: 200px;

   }
   .login{
      position: absolute;
      width: 410px;
      height: 100px;
      top: 420px;
      left: 510px;
      border:solid 1px rgb(2, 40, 120);
   }
   .email{
      position: absolute;
      height: 35px;
      width: 400px;
      top: 10px;
      left: 20px;
   }
   .email_one{
      background-color:rgb(2, 40, 120);
      float: left;
      width: 130px;
      height: 35px;
      color: rgb(255, 255, 255);
      text-align: center;
      line-height: 35px;
   }
   .password{
      position:absolute;
      height: 35px;
      width: 400px;
      bottom: 10px;
      left: 20px;
   }
   .el-input{
      width: 50%;
   }
   /deep/.el-input__inner{
      border-radius: 0px;
      height: 35px;
      border: 1px solid rgb(2, 40, 120);
   }
   .el-button{
      position: absolute;
      top: 420px;
      left: 950px;
      height: 100px;
      width: 170px;
      font-size: 30px;
      color:rgb(2, 40, 120);
      border: 1px solid rgb(2, 40, 120);
   }
</style>