<template>
   <div class="wrapper">
      <div class="select">
         <el-button plain class="selectBrandClass" :style="selectBrandStyle" @click="selectBrandButton">
           <span class="selectBrandContentClass">SELECT BRAND</span>
         </el-button>

         <el-button plain class="selectCompetitorsClass" :style="selectCompetitorsStyle" @click="selectCompetitorsButton">
           <span class="selectCompetitorsContentClass">SELECT COMPETITORS</span>
         </el-button>
      </div>

      <div class="selectBrandShowClass" v-show="selectBrandShow">
      <el-checkbox-group v-model="selectBrandData" :max="1"> 
        <!-- <el-checkbox label="Mercedes-Benz"><img class="img" src="../assets/images/benchi.png"></el-checkbox>
        <el-checkbox label="BMW"><img class="img" src="../assets/images/baoma.png"></el-checkbox>
        <el-checkbox label="Audi"><img class="img" src="../assets/images/aodi.png"></el-checkbox>

        <el-checkbox label="Cadillac"><img class="img" src="../assets/images/kaidilake.png"></el-checkbox>
        <el-checkbox label="Land Rover"><img class="img" src="../assets/images/luhu.png"></el-checkbox>
        <el-checkbox label="SAIC Volkswagen"><img class="img" src="../assets/images/shangqi.png"></el-checkbox>
        <el-checkbox label="FAW-Volkswagen"><img class="img" src="../assets/images/yiqi.png"></el-checkbox>
        <el-checkbox label="NIO"><img class="img" src="../assets/images/nio.png"></el-checkbox>
        <el-checkbox label="Weltmeister"><img class="img" src="../assets/images/weima.png"></el-checkbox>
        <el-checkbox label="Xpeng"><img class="img" src="../assets/images/xiaopeng.png"></el-checkbox>
        <el-checkbox label="Li Auto"><img class="img" src="../assets/images/lixiang.png"></el-checkbox>
        <el-checkbox label="BYD"><img class="img" src="../assets/images/byd.png"></el-checkbox> -->
        <el-checkbox label="奔驰"><img class="img" src="../assets/images/benchi.png"></el-checkbox>
        <el-checkbox label="宝马"><img class="img" src="../assets/images/baoma.png"></el-checkbox>
        <el-checkbox label="奥迪"><img class="img" src="../assets/images/aodi.png"></el-checkbox>

        <el-checkbox label="凯迪拉克"><img class="img" src="../assets/images/kaidilake.png"></el-checkbox>
        <el-checkbox label="路虎"><img class="img" src="../assets/images/luhu.png"></el-checkbox>
        <el-checkbox label="上汽大众"><img class="img" src="../assets/images/shangqi.png"></el-checkbox>
        <el-checkbox label="一汽大众"><img class="img" src="../assets/images/yiqi.png"></el-checkbox>
        <el-checkbox label="蔚来"><img class="img" src="../assets/images/nio.png"></el-checkbox>
        <el-checkbox label="威马"><img class="img" src="../assets/images/weima.png"></el-checkbox>
        <el-checkbox label="小鹏"><img class="img" src="../assets/images/xiaopeng.png"></el-checkbox>
        <el-checkbox label="理想"><img class="img" src="../assets/images/lixiang.png"></el-checkbox>
        <el-checkbox label="比亚迪"><img class="img" src="../assets/images/byd.png"></el-checkbox>

        <!-- <el-checkbox label="斯科达"><img class="img" src="../assets/images/sikeda.png"></el-checkbox> -->
    </el-checkbox-group>
    </div>

     <div class="selectCompetitorsShowClass" v-show="selectCompetitorsShow">
       <el-checkbox-group v-model="selectCompetitorsData" :max="2"> 
        <el-checkbox label="奔驰"  v-show="selectBrandData!='奔驰'"><img class="img" src="../assets/images/benchi.png"></el-checkbox>
        <el-checkbox label="宝马"  v-show="selectBrandData!='宝马'"><img class="img" src="../assets/images/baoma.png"></el-checkbox>
        <el-checkbox label="奥迪"  v-show="selectBrandData!='奥迪'"><img class="img" src="../assets/images/aodi.png"></el-checkbox>

        <el-checkbox label="凯迪拉克"  v-show="selectBrandData!='凯迪拉克'"><img class="img" src="../assets/images/kaidilake.png"></el-checkbox>
        <el-checkbox label="路虎" v-show="selectBrandData!='路虎'"><img class="img" src="../assets/images/luhu.png"></el-checkbox>
        <el-checkbox label="上汽大众" v-show="selectBrandData!='上汽大众'"><img class="img" src="../assets/images/shangqi.png"></el-checkbox>
        <el-checkbox label="一汽大众" v-show="selectBrandData!='一汽大众'"><img class="img" src="../assets/images/yiqi.png"></el-checkbox>
        <el-checkbox label="蔚来" v-show="selectBrandData!='蔚来'"><img class="img" src="../assets/images/nio.png"></el-checkbox>
        <el-checkbox label="威马" v-show="selectBrandData!='威马'"><img class="img" src="../assets/images/weima.png"></el-checkbox>
        <el-checkbox label="小鹏" v-show="selectBrandData!='小鹏'"><img class="img" src="../assets/images/xiaopeng.png"></el-checkbox>
        <el-checkbox label="理想" v-show="selectBrandData!='理想'"><img class="img" src="../assets/images/lixiang.png"></el-checkbox>
        <el-checkbox label="比亚迪" v-show="selectBrandData!='比亚迪'"><img class="img" src="../assets/images/byd.png"></el-checkbox>

        <!-- <el-checkbox label="斯科达" v-show="selectBrandData!='斯科达'"><img class="img" src="../assets/images/sikeda.png"></el-checkbox> -->
    </el-checkbox-group>
    </div>

    <el-button class="showButtonClass" @click="btn">
      <span>SHOW RESULTS</span>
    </el-button>
   </div>
</template>
<script>
export default {
   data(){
      return{
         selectBrandStyle:'',
         selectCompetitorsStyle:'',

         selectBrandData:[],
         selectCompetitorsData:[],

         selectBrandShow:true,
         selectCompetitorsShow:false,
      }
   },
   watch:{
      selectBrandData(newvalue,old){
         if(this.selectBrandData!=''){
            this.selectBrandStyle = 'background-color:rgb(51,136,255)'
         }
         if(this.selectBrandData==''){
            this.selectBrandStyle = 'background-color:rgb(255,255,255)'
         }
      },
      selectCompetitorsData(newvalue,old){
         if(this.selectCompetitorsData!=''){
            this.selectCompetitorsStyle = 'background-color:rgb(51,136,255)'
         }
         if(this.selectCompetitorsData==''){
            this.selectCompetitorsStyle = 'background-color:rgb(255,255,255)'
         }
      },
       
   },
   methods:{
      selectBrandButton(){
         this.selectBrandShow = true;
         this.selectCompetitorsShow = false;
         this.selectCompetitorsData = []
      },
      selectCompetitorsButton(){
         this.selectBrandShow = false;
         this.selectCompetitorsShow = true;
         this.selectCompetitorsData = []
      },
      btn(){
         if(this.selectBrandData==''){
            alert('please select brand')
         }else if(this.selectCompetitorsData==''){
            alert('please select competitors')
         }else{
            this.$router.push({path:'/discountsDevelopment',query:{selectBrandData:this.selectBrandData,selectCompetitorsData:this.selectCompetitorsData}})
         }
      },
   }
}
</script>
<style lang="less" scoped>
   .wrapper{
      background-color:rgb(255, 255, 255);
      height: 100%;
   }
   .select{
      position: absolute;
      border: 1px solid rgb(2,40,120);
      top: 200px;
      left: 280px;
      width: 300px;
      height: 300px;
   }
   .selectBrandClass{
      position: absolute;
      top: 30px;
      left: 16px;
      width: 269px;
      height: 100px;
      border:solid 1px rgb(2,40,120);
      border-radius: 0px;
   }
    .selectBrandContentClass{
      color: rgb(2, 40, 120);
   }
   .selectCompetitorsClass{
      position: absolute;
      bottom: 30px;
      left: 6px;
      width: 269px;
      height: 100px;
      border:solid 1px rgb(2,40,120);
      border-radius: 0px;
   }
    .selectCompetitorsContentClass{
      color: rgb(2, 40, 120);
   }
   .selectBrandShowClass{
      position: absolute;
      top: 200px;
      left: 600px;
      width: 515px;
      height: 400px;
      border: 1px solid rgb(2,40,120);
   }
   .img{
      width: 100px;
      height: 100px;
      position: absolute;
      top: 26px;
      left: 41px;
   }
   .el-checkbox-group{
  overflow: scroll;
//   width:500px;
   width:35vw;
  height: 400px;
}
.el-checkbox{
  margin-right: 0px;
  margin-top: 16px;
  margin-left: 1px;
}
/deep/.el-checkbox__input{
  visibility: hidden;
  float: left;
  left: 50px;
}
/deep/.el-checkbox__label{
  width:146px;
  height: 91px;
  // background-color: red;
  color: #606266;
  font-size: 20px;
  white-space: normal;
  padding-left: 0px;
  border: 1px solid  rgb(2,40,120);
  text-align: center;
  padding-top: 55px;
}
/deep/.is-checked{
  :last-child{
    background-color: #409EFF;
  }
}
/deep/.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #ffffff;
}
/deep/.el-checkbox__label{
   line-height:28px;
}
.selectCompetitorsShowClass{
      position: absolute;
      top: 200px;
      left: 600px;
      width: 515px;
      height: 400px;
      border: 1px solid rgb(2,40,120);
   }

   .showButtonClass{
      position: absolute;
      top: 510px;
      left: 280px;
      height: 92px;
      width: 302px;
      font-size: 20px;
      color: rgb(2, 40, 120);
      border: 1px solid rgb(2, 40, 120);
      border-radius: 0px;
   }
</style>