<template>
    <div class="wrapper">
        <div>
            <el-table :data="tableDataUser" :key="itemkey" style="width: 55%">
                <el-table-column prop="id" label="序号" width="100"></el-table-column>
                <el-table-column prop="brand" label="品牌" width="100"></el-table-column>
                <el-table-column prop="following" label="关注" width="100"></el-table-column> 
                <el-table-column prop="followed" label="粉丝" width="100"></el-table-column>
                <el-table-column prop="forum" label="帖子" width="100"></el-table-column>
                <el-table-column prop="time" label="爬取时间" width="180"></el-table-column>
                <el-table-column fixed="right" label="操作" width="100">
                    <template slot-scope="scope">
                        <el-button @click="handleClickUser(scope.row.id)" type="text" size="small">刷新</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-table :data="tableDataHuati" :key="itemkey" style="width: 48%">
                <el-table-column prop="id" label="序号" width="100"></el-table-column>
                <el-table-column  prop="brand" label="话题" width="100"></el-table-column>
                <el-table-column prop="reading" label="阅读" width="100"></el-table-column> 
                <el-table-column prop="discussion" label="讨论" width="100"></el-table-column>
                <el-table-column prop="time" label="爬取时间" width="180"></el-table-column>
                <el-table-column fixed="right" label="操作" width="100">
                    <template slot-scope="scope">
                        <el-button @click="handleClickHuati(scope.row.id)" type="text" size="small">刷新</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
export default {
   data(){
      return{
        selectBrandData:[],
        selectCompetitorsData:[],
        itemkey:0,
        tableDataUser: [],
        tableDataHuati:[],
        // [{
        //     brand:'123',
        //     following:'456',
        //     followed:'12',
        //     forum:'12',
        //     time:'21',
        // }]
      }
   },
   created(){
        this.selectBrandData = this.$route.query.selectBrandData
        this.selectCompetitorsData = this.$route.query.selectCompetitorsData

        this.getUserDatas1(this.selectBrandData.toString())
        this.getUserDatas2(this.selectCompetitorsData[0])
        this.getUserDatas3(this.selectCompetitorsData[1])

        this.getHuatiDatas1(this.selectBrandData.toString())
        this.getHuatiDatas2(this.selectCompetitorsData[0])
        this.getHuatiDatas3(this.selectCompetitorsData[1])
   },
   methods:{
       handleClickUser(row) {
        if(row==1){
            this.getUserDatas1(this.selectBrandData.toString())
        }else if(row==2){
            this.getUserDatas2(this.selectCompetitorsData[0])
        }else if(row==3){
            this.getUserDatas3(this.selectCompetitorsData[1])
        }
      },
      handleClickHuati(row) {
        if(row==1){
            this.getHuatiDatas1(this.selectBrandData.toString())
        }else if(row==2){
            this.getHuatiDatas2(this.selectCompetitorsData[0])
        }else if(row==3){
            this.getHuatiDatas3(this.selectCompetitorsData[1])
        }
      },
    async getUserDatas1(carbrand){
        await this.axios({
               url:'/api/weibo/getUserInfo',
               method:'POST',
               params:{
                   brand:carbrand,
               }
           }).then(resp=>{
               this.itemkey = Math.random()
               if(resp.data.length == 4){
                   this.tableDataUser[0] = {
                   id:1,
                   brand:carbrand,
                   following:resp.data[0],
                   followed:resp.data[1],
                   forum:resp.data[2],
                   time:resp.data[3],
               }
               }else{
                   this.tableDataUser[0] = {
                   id:1,
                   brand:carbrand,
               }
               }
               
           })
       },
       async getUserDatas2(carbrand){
        await this.axios({
               url:'/api/weibo/getUserInfo',
               method:'POST',
               params:{
                   brand:carbrand,
               }
           }).then(resp=>{
               this.itemkey = Math.random()
               if(resp.data.length == 4){
                   this.tableDataUser[1] = {
                   id:2,
                   brand:carbrand,
                   following:resp.data[0],
                   followed:resp.data[1],
                   forum:resp.data[2],
                   time:resp.data[3],
               }
               }else{
                   this.tableDataUser[1] = {
                   id:2,
                   brand:carbrand,
               }
               }
               
           })
       },
       async getUserDatas3(carbrand){
        await this.axios({
               url:'/api/weibo/getUserInfo',
               method:'POST',
               params:{
                   brand:carbrand,
               }
           }).then(resp=>{
               this.itemkey = Math.random()
               if(resp.data.length == 4){
                   this.tableDataUser[2] = {
                   id:3,
                   brand:carbrand,
                   following:resp.data[0],
                   followed:resp.data[1],
                   forum:resp.data[2],
                   time:resp.data[3],
               }
               }else{
                   this.tableDataUser[2] = {
                   id:3,
                   brand:carbrand,
               }
               }
               
           })
       },
        async getHuatiDatas1(carbrand){
        await this.axios({
               url:'/api/weibo/getHuatiInfo',
               method:'POST',
               params:{
                   brand:carbrand,
               }
           }).then(resp=>{
               this.itemkey = Math.random()
               if(resp.data.length == 3){
                   this.tableDataHuati[0] = {
                   id:1,
                   brand:carbrand,
                   reading:resp.data[0],
                   discussion:resp.data[1],
                   time:resp.data[2],
               }
               }else{
                   this.tableDataHuati[0] = {
                   id:1,
                   brand:carbrand,
               }
               }
               
           })
       },
       async getHuatiDatas2(carbrand){
        await this.axios({
               url:'/api/weibo/getHuatiInfo',
               method:'POST',
               params:{
                   brand:carbrand,
               }
           }).then(resp=>{
               this.itemkey = Math.random()
               if(resp.data.length == 3){
                   this.tableDataHuati[1] = {
                   id:2,
                   brand:carbrand,
                   reading:resp.data[0],
                   discussion:resp.data[1],
                   time:resp.data[2],
               }
               }else{
                   this.tableDataHuati[1] = {
                   id:2,
                   brand:carbrand,
               }
               }
               
           })
       },
       async getHuatiDatas3(carbrand){
        await this.axios({
               url:'/api/weibo/getHuatiInfo',
               method:'POST',
               params:{
                   brand:carbrand,
               }
           }).then(resp=>{
               this.itemkey = Math.random()
               if(resp.data.length == 3){
                   this.tableDataHuati[2] = {
                   id:3,
                   brand:carbrand,
                   reading:resp.data[0],
                   discussion:resp.data[1],
                   time:resp.data[2],
               }
               }else{
                   this.tableDataHuati[2] = {
                   id:3,
                   brand:carbrand,
               }
               }
               
           })
       },
   }
}
</script>
<style lang="less" scoped>
.wrapper{
      background-color:rgb(255, 255, 255);
      height: 100%;
   }
   
</style>
